<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            text-align: center;
            padding-top:50px ;
        }

        button{
            border: none;
            background-color: rgb(8, 161, 138);
            padding: 10px;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }
        button:hover{
            background-color:  rgb(9, 83, 72);
        }
    </style>
</head>
<body>
    <div>
        <h1>welcome</h1>
        <h2><a href="{% url 'login' %}"><button>LOGIN</button></a></h2>
        <h2>or</h2>
        <h2><a href="{% url 'reg' %}"><button>REGISTRATION</button></a></h2>
    </div>
</body>
</html>